---
layout: page0
title: H0m3
color-theme: "#0c0d0e"
description: "Q5Ca's world (just another sec blog <3) CTF CVE hach hack"
page-header-image: header1.gif
css-file: "index"
permalink: "/"
---
<div id="post-list-wrapper"style="background-color: #423e3e;"class="page-comp">
    <div class="container" id="post-list" >
        <div class="row justify-content-center justify-content-md-start">
            {% for post in site.posts %}
                <div class="col-10 col-md-6 col-lg-4 mb-4">
                    <div class="card post text-white bg-dark border-info">
                        {% if post.post-thumb %}
                            {% capture pT %}/assets/images/{{ post.post-thumb }}{% endcapture %}
                            <img src="{{ pT | relative_url}}" alt="{{ post.title }}" class="card-img-top post-thumb">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p>{{post.excerpt}}...
                                {% for tag in post.tags %}
                                    <a href="#">#{{ tag }} </a>
                                {% endfor %}
                            </p>
                            <small class="font-italic">Categories: 
                                {% for category in post.categories %}
                                    <a href="#">{{ category }}</a>
                                {% endfor %}
                            </small>
                            <div class="mt-auto d-flex justify-content-between">
                                <small>{{ post.date | date_to_string }}</small>
                                <a href="{{post.url}}">Đọc tiếp &gt;&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>
</div>



