<nav class="navbar navbar-expand-sm fixed-top navbar-dark" style="background-color: {{include.colorTheme}}">
    <a class="navbar-brand" href="/">
        <img src="{{"/assets/images/brand0.jpg" | relative_url }}" alt="Logo" style="width:30px;">
    </a>
    <a class="navbar-brand" href="/">
        q5ca's world
    </a>
    <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">CTF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Realworld,CVE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Tools,tricks</a>
            </li>
        </ul>
    </div> 
</nav>