#body-wrapper{
    padding-top: 56.94px; 
    word-wrap:break-word;
    min-height: 100vh;
}
/* header */
header{
    height: 25rem;
    max-height: 60vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
}
header h1{
    color: white;
    text-align: center;
}
h1{
    font-weight: bold; 
    font-family: 'Roboto Slab', serif;
}
/* page-wrapper */
#page-wrapper{
    font-family: 'Open Sans', sans-serif;
}
#page-wrapper .page-comp{
    padding-top:69px; 
    padding-bottom: 60px;
}
/* footer */
footer{
    font-size: 1.2rem;
}