.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}
/* post-list */
#page-wrapper  #post-list .post{
    min-height: 30rem;
}
#page-wrapper #post-list .post-thumb{
    object-fit: cover;
    object-position: 0 0;
    max-height: 10rem;
}
#page-wrapper #post-list .card-title{
    font-family: 'Roboto Slab', serif;
}

