/* content */
#content-wrapper{
    padding-top: 69px;
    padding-bottom: 60px;
}
#content-wrapper #content{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
}
/* chat */
#chat-wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
}