<!DOCTYPE html>
<!--
     QQQQQQQQQ     555555555555555555         CCCCCCCCCCCCC                  
   QQ:::::::::QQ   5::::::::::::::::5      CCC::::::::::::C                  
 QQ:::::::::::::QQ 5::::::::::::::::5    CC:::::::::::::::C                  
Q:::::::QQQ:::::::Q5:::::555555555555   C:::::CCCCCCCC::::C                  
Q::::::O   Q::::::Q5:::::5             C:::::C       CCCCCC  aaaaaaaaaaaaa   
Q:::::O     Q:::::Q5:::::5            C:::::C                a::::::::::::a  
Q:::::O     Q:::::Q5:::::5555555555   C:::::C                aaaaaaaaa:::::a 
Q:::::O     Q:::::Q5:::::::::::::::5  C:::::C                         a::::a 
Q:::::O     Q:::::Q555555555555:::::5 C:::::C                  aaaaaaa:::::a 
Q:::::O     Q:::::Q            5:::::5C:::::C                aa::::::::::::a 
Q:::::O  QQQQ:::::Q            5:::::5C:::::C               a::::aaaa::::::a 
Q::::::O Q::::::::Q5555555     5:::::5 C:::::C       CCCCCCa::::a    a:::::a 
Q:::::::QQ::::::::Q5::::::55555::::::5  C:::::CCCCCCCC::::Ca::::a    a:::::a 
 QQ::::::::::::::Q  55:::::::::::::55    CC:::::::::::::::Ca:::::aaaa::::::a 
   QQ:::::::::::Q     55:::::::::55        CCC::::::::::::C a::::::::::aa:::a
     QQQQQQQQ::::QQ     555555555             CCCCCCCCCCCCC  aaaaaaaaaa  aaaa
             Q:::::Q                                                         
              QQQQQQ                                                                                                               
-->                                                                          
<html lang="vi">
    <head>
        {% if site.environment == "production" %}
            {% include google-analytics.html %}
        {% endif %}
        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="{{page.colorTheme}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Roboto+Slab&amp;subset=vietnamese" rel="stylesheet">
        {% if page.css-file %}
            {% capture relative-css-path %}/assets/css/{{page.css-file}}.css{% endcapture %}
            <link rel="stylesheet" href="{{ relative-css-path | relative_url }}">
        {% endif %}
        <link rel="stylesheet" href="{{ "/assets/css/highlighter.css" | relative_url }}">
        <link rel="stylesheet" href="{{ "/assets/css/default.css" | relative_url }}">
    </head>
    </head>
    <body>
        {% include navigation.html colorTheme=page.color-theme%}
        {{content}}
        {% include footer.html colorTheme=page.color-theme%}
    </body>
</html>